registry=https://cayzhtadk.jfrog.io/artifactory/api/npm/default-npm-virtual/
_auth = c3RldmVuLnNjaG1pZHRAc255ay5pbzpBUEFYdThVOUNzSzQ4Y2ZIeGtTdWQ2eE1mcVg=
email = steven.schmidt@snyk.io
always-auth = true
